[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell uimqtconfig
Type=Application

X-KDE-Library=uimqtconfig
X-KDE-FactoryName=uimqtconfig
X-KDE-ParentApp=uim-pref-qt
Name=uimqtconfig
Comment=Configure UimQt(qt-immodule for Uim)
