[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell uimconfig
Type=Application

X-KDE-Library=uimconfig
X-KDE-FactoryName=uimconfig
X-KDE-ParentApp=uim-pref-qt
Name=uimconfig
Comment=uimconfig
